* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    width: 300px;
    margin: 60px auto;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.imagem {
    height: 200px;
    background: url("assets/img1.jpg");
    background-size: cover;
    border-radius: 8px 8px 0 0;
}

.texto {
    text-align: center;
    margin-top: 25px;
}

.texto p {
    margin-top: 30px;
}

.dados {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: blueviolet;
    border-radius: 0 0 8px 8px;
    padding: 10px 20px;
    margin-top: 30px;
}

.valor {
    font-size: 24px;
}

.tipo {
    font-size: 12px;
}

.visualizacoes {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 0 10px 0 10px;
}
